* {
  
}

ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  border-bottom: 3px solid black;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color:black;
}

.active {
  font-weight: bold;
}

h1 {
  margin-left: 0;
}

.footer {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  border-top: 3px solid black;
  border-bottom: none;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  padding: 10px;
}
.shopitem, img {
  width: 50%;
}


.wrapper-img {  
  overflow: hidden; 
}

.blogimage {
  transition: 0.3s;
}

.blogimage:hover{
  transform: scale(1.1);
}

.title {
  font-size: 30px;
  text-align: start;
}